
@{
    ViewBag.Title = "AdminEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Yeni Kullanıcı Ekleme Sayfası</h4>
<br />
<form method="post">

    <input type="text" name="KullaniciAdi" class="form-control" placeholder="Kullanıcı Adı Yaziniz." />
    <br />
    <input type="text" name="Sifre" class="form-control" placeholder="Yeni Sifre Yaziniz." />
    <br />


    <button class="btn btn-info">Ekle</button>


</form>


